<%- include('../partials/head') %>
    <div class="container">

        <h1>Add a New Cookbook!</h1>
        <form action="/users/<%= user._id %>/foods/" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title">
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
            <label for="recipe">Recipe:</label>
            <textarea name="recipe" id="recipe"></textarea>
            <button type="submit" class="btn btn-primary">Add Application</button>
        </form>
        
    </div>
<%- include('../partials/footer') %>