<%- include('../partials/head')%>

<h1></h1>Details of Pantry</h1>
<div class="card-container">
                    <h5 class="card-title"><%= food.title %></h5>
                    <%= food.description %>
                    <h6 class="card-subtitle mb-2 text-muted">
                    </h6>


                    <%  %>
                </div>
            </div>
    <%  %>
</div>

<%- include('../partials/footer') %>